@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import 'variables';

body {
	font-size: 14px;
	margin: 0;
	font-family: 'Barlow Condensed', sans-serif;
}

@import 'section';
